{% extends "base.html" %}

{% block title %}Application Response{% endblock %}

{% block head %}
    <!-- tells the child template to inherit what's written
    in the base template between the {head} tags. This makes inheriting 
    the same CSS styles easy. -->
    {{ super() }}
{% endblock %}

{% block content %}

    <h2>Application Submitted!</h2>

    <!-- responds to the user letting them know by name that they have 
    applied and what their salary input was. -->
    <p>Thank you, {{first_name}} {{last_name}}, for applying to be a {{job_title}}. Your minimum salary requirement is {{salary}} dollars.</p>

{% endblock %}